/* Estilo para la página de Ciberseguridad */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #004d99;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

footer {
    background-color: #ddd;
    padding: 10px;
    text-align: center;
}
